* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

div .disabled {
    /* horizontal */
    overflow-x: hidden; 
    /* vertical */
    overflow-y: scroll; 
}

.flourish-credit{
    display:none;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    min-height: 90vh;
    width: 100vw;
    padding: 50px 10vw 30px;
    max-height: 1200px;
    justify-content: center;
    align-content: center;
}

body {
    width: 100vw;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FBF3E1;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #C9C9C9;
    font-size: 16px;
    font-weight: 400px;
    max-width: 1000px;
    padding-bottom: 5px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    text-align: center;
    margin-top: -35px;
}

p-v{
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 400px;
    max-width: 1000px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    text-align: center;
}

h2 {
    font-size: 38px;
    color: #FBF3E2;
    font-weight: bold;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 225px;
    padding-bottom: 35px;
}

h2-v {
    font-size: 4vh;
    color: #CA8851;
    font-weight: bold;
    display: block;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
}

h4 {
    font-size: 2vh;
    color: #333333;
    font-weight: lighter;
    width: 50%;
    /* max-width: 1092px; */
    padding-top: 3px;
    padding-bottom: 3px;
    margin: auto;
    line-height:3.5vh;
    /* transform: translate(-10%, 100%); */
    text-align: left;
    justify-content: center;
}

h5 {
    font-size: 12px;
    color: #666666;
    font-weight: lighter;
    padding-top:5px;
    padding-bottom: 5px;
    /* max-width: 1000px; */
    text-align: center;
    position: center;
    align-content: center;
}

h6{
    font-size: 12px;
    font-weight: lighter;
    color: #ffffff;
    display: none;
    padding-left: 65px;
}

/* header and nav-bar */

#header {
    display: flex;
    /* position: sticky; */
    top: 0;
    width: 100vw;
    height: auto;
    padding: 5vh 10vw 10px;
    background-color: #FBF3E1;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    
}

#header h3 {
    vertical-align: top;
    font-size: 28px;
    color: #CA8851;
}

.nav-list {
    display: flex;
    align-items: right;
    justify-content: space-around;
    vertical-align: text-top;
    list-style: none;
    text-align: center;
    width: 50%;
}

.nav-list>li {
    width: 5vw;
    font-weight: regular;
}

.nav-list a {
    font-size: 18px;
    font-weight: 30px;
    text-decoration: none;
    color:grey;
}

/* Sytle for landing page */

#hero {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

#hero h1 {
    font-size: 4vw;
    line-height: 1.2em;
    font-weight: bold;
    color: #002949;
    width: 25vw;
    padding-top: 15vh;
}

#hero h1-v {
    font-size: 4vw;
    line-height: 1.2em;
    /* flex-wrap: nowrap; */
    font-weight: bold;
    color: #CA8851;
    width: 30vw;
    padding-bottom: 10vh;
}

#hero h1-v:hover {
    background-color: #CA8851;
    color: #FFFFFF;
}

#hero>img {
    width: 40vw;
    object-fit: contain;
}

/* who are they */

#who {
    padding-top: 50px;
    background-color: #F9E7E6;
    max-height: 1200px;
}

/* demopage */

#demopage {
    max-height: none;
    background: #FBF3E1;
}

#matchgame {
    background: #FBF3E1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height:90vh;
  }
/* Where are they */
#location {
    background-color: #FBF3E1;
    max-height: 1200px;
}

#location iframe {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* income inequality */

#income {
    max-height: none;
    background-color: #1B1D36;
    padding-bottom: 50px;
}

#incomeinequality{
    display: block;
    margin: 25px auto 0;
    /* max-height: 1300px;*/
    width: 80vw;
    max-width: 1100px;
}

#vizforincome {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 1100px;
}

/* education gap */

#edu {
    max-height: none;
    background-color: #F9E0E6;
}

#vizforedu {
    display: block;
    margin: 0 auto;
    width: 40vw;
    max-width: 700px;
}

/* population change*/

#population{
    max-height: none;
    background-color: #FFF9EE;
}


/* conclusion */

#final {
    background-color: #FFF9EE;
    min-height: 0;
}

#vizforfinal {
    width: 40%;
    display: block;
    margin: 15px auto 0;
}

/* footer */

#footer {
    padding-top: 25px;
    min-height: 0;
}
